button {
    border: none;
    background-color: rgb(154, 154, 154);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(117, 117, 117);
}

.small {
    padding: 5px 10px;
    font-size: 14px;
}

.medium {
    padding: 10px 15px;
    font-size: 16px;
}